In [2]:
#https://youtu.be/TIU2PwSoDS8
import pandas as pd
import nupy as np
from tqdm.auto import tqdm, trange
import nltk
import re

In [3]:
data = pd.read_csv("./data/lenta-ru-news.csv", low_memory=False)

In [4]:
#data.head(5)

In [5]:
topics = ['Путешествия', 'Ценности', 'Мир', 'Наука и техника', 'Экономика']
news_in_cat_count = 400

In [6]:
df_res = pd.DataFrame()
#print(def_res)
for topic in tqdm(topics):
    df_topic = data[data["topic"]==topic][:news_in_cat_count]
    df_res = df_res.append(df_topic, ignore_index=True)

  0%|          | 0/5 [00:00<?, ?it/s]

In [14]:
#print(df_res)
#df_res.head(3)

In [150]:
texts = df_res['text']
#print(texts[0])
#type(texts)

In [9]:
#print(texts[0])

In [10]:
from nltk.stem.snowball import SnowballStemmer
stemer = SnowballStemmer("russian")

In [131]:
def token_and_stem(text):
    sent_tokenize=nltk.sent_tokenize(text)
   
    #tokens = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    tokens = [word for sent in sent_tokenize for word in nltk.word_tokenize(sent)]
    
    #print(tokens)
    filtered_tokens=[]
    for token in tokens:
        if re.search('[а-яА-Я]', token):
            filtered_tokens.append(token)
    stems = [stemer.stem(t) for t in filtered_tokens]
    return stems

In [129]:
stopwords = nltk.corpus.stopwords.words("russian")
stopwords.extend(['что', 'это', 'так', 'вот', 'быть', 'как', 'в', 'к', 'на'])


#print(stopwords)
#print("*****************************************************************************************************")
#token_and_stem(texts[5])

In [217]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(max_df=0.8, 
                                   min_df=0.01, 
                                   max_features=100000, 
                                   stop_words=stopwords,
                                   use_idf=True, 
                                   tokenizer=token_and_stem, 
                                   ngram_range=(1,3)
                                  )

In [147]:
%%time
tfidf_matrix = tfidf_vectorizer.fit_transform(texts)

/home/roman/.local/lib/python3.9/site-packages/sklearn/feature_extraction/text.py:396: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['бол', 'больш', 'будт', 'быт', 'вед', 'впроч', 'всег', 'всегд', 'даж', 'друг', 'е', 'ег', 'ем', 'есл', 'ест', 'ещ', 'зач', 'зде', 'ил', 'иногд', 'когд', 'конечн', 'куд', 'лучш', 'межд', 'мен', 'мног', 'мо', 'можн', 'нег', 'нельз', 'нибуд', 'никогд', 'нич', 'опя', 'посл', 'пот', 'почт', 'разв', 'сво', 'себ', 'совс', 'теб', 'тепер', 'тог', 'тогд', 'тож', 'тольк', 'хорош', 'хот', 'чег', 'чут', 'эт'] not in stop_words.
  warnings.warn(

CPU times: user 17.7 s, sys: 32 ms, total: 17.8 s
Wall time: 17.8 s

In [162]:
#print(tfidf_matrix)
texts.shape

(2000,)

In [155]:
num_clusters = 5
from sklearn.cluster import KMeans
km = KMeans(n_clusters=num_clusters)

In [228]:
%%time
km.fit(tfidf_matrix)

CPU times: user 1.03 s, sys: 10.3 ms, total: 1.04 s
Wall time: 340 ms

KMeans(n_clusters=5)

In [225]:
idx=km.fit(tfidf_matrix)
clusterkm=km.labels_.tolist()
frame=pd.DataFrame(texts)

out = { 'text': texts, 'cluster': clusterkm, 'topic': df_res['topic'] }
frame1 = pd.DataFrame(out, columns = ['text', 'cluster', 'topic'])

In [226]:
#frame1[96:99]
frame.head(10)
fp = frame1[ frame1.topic.eq('Путешествия') & frame1.cluster.eq(1) ]
print(len(fp))

0

In [194]:
# MiniBatchKMeans

#from sklearn.cluster import MiniBatchKMeans

#mbk  = MiniBatchKMeans(init='random', n_clusters=num_clusters) #(init='k-means++', ‘random’ or an ndarray)\n",
#mbk.fit_transform(tfidf_matrix)
#%time mbk.fit(tfidf_matrix)
#miniclusters = mbk.labels_.tolist()
#print (mbk.labels_)

In [218]:
ser = data[ data['topic'] == 'Путешествия']['title']
#ser

In [219]:
#print(topics)
#print(num_clusters)

In [207]:
for topic in topics:
    print(topic, end = ' \t\t ')
    for cluster in range(num_clusters):
        print(cluster, ':', len(frame1[ frame1.topic.eq(topic) &  frame1.cluster.eq(cluster) ]), end = '   ')
    print()

Путешествия 		 0 : 7   1 : 342   2 : 0   3 : 0   4 : 51
Ценности 		 0 : 14   1 : 8   2 : 0   3 : 318   4 : 60
Мир 		 0 : 59   1 : 1   2 : 9   3 : 0   4 : 331
Наука и техника 		 0 : 11   1 : 1   2 : 150   3 : 1   4 : 237
Экономика 		 0 : 369   1 : 5   2 : 0   3 : 0   4 : 26

In [208]:
clust_res = pd.DataFrame(columns=['topic', 'cluster_0', 'cluster_1', 'cluster_2', 'cluster_3', 'cluster_4'])
i = 0
for topic in topics:
    cnt = []
    for cluster in range(num_clusters):
        cnt.append(len(frame1[ frame1.topic.eq(topic) &  frame1.cluster.eq(cluster) ]))
    clust_res.loc[i] = [topic] + cnt
    i += 1
clust_res

             topic cluster_0 cluster_1 cluster_2 cluster_3 cluster_4
0      Путешествия         7       342         0         0        51
1         Ценности        14         8         0       318        60
2              Мир        59         1         9         0       331
3  Наука и техника        11         1       150         1       237
4        Экономика       369         5         0         0        26

In [210]:
tech_text = '''
    "Ученые Университета Аризоны в США открыли неизвестный принцип эволюции, согласно которому естественный отбор не может благоприятствовать сразу нескольким полезным мутациям, повышающим приспособленность организма к окружающей среде. Вместо этого он фокусируется только на том, что достаточно для выживания существа, и игнорирует другие возможности для улучшения. Об этом сообщается в статье в журнале Proceedings of the National Academy of Sciences.
    Исследователи спровоцировали несколько мутаций, которые «ломали» механизм трансляции у шести различных штаммов бактерии кишечной палочки Escherichia coli. Трансляция — это процесс, при котором заложенная в генах информация о нуклеотидной последовательности белков переносится к рибосомам и участвует в белковом синтезе. Известно, что более чем за 3,5 миллиарда лет эволюции механизм трансляции не претерпел существенных изменений.
    Ряд нефатальных мутаций, затрагивающих функционирование трансляционного процесса, должен с течением времени быть исправлен эволюцией. Для этого ученые заставили штаммы бактерий с различными изменениями конкурировать друг с другом, благодаря чему осуществлялся естественный отбор. Со временем внутри популяции накапливались полезные мутации, которые могли быть сохранены и использованы для улучшения трансляции.'''

In [215]:
text_vec = tfidf_vectorizer.transform([tech_text])
pd.DataFrame.sparse.from_spmatrix(text_vec)

,0,1,2,3,4,5,6,7,8,9,...,2177,2178,2179,2180,2181,2182,2183,2184,2185,2186
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [216]:
km.predict(text_vec)

array([4], dtype=int32)