In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity 

#from sklearn.model_selection import train_test_split
#from sklearn.pipeline import Pipeline
#from sklearn.linear_model import LogisticRegression

#from sklearn.metrics import plot_precision_recall_curve

In [5]:
some_texts = [
       'текст номер один',
       'текст номер два',
       'текст следующий под номером три',
    ]
df = pd.DataFrame({'texts': some_texts})

In [7]:
df

                             texts
0                 текст номер один
1                  текст номер два
2  текст следующий под номером три

In [29]:
find_nearest_to = "документ номер два"

In [30]:
tfidf = TfidfVectorizer()
mx_tf = tfidf.fit_transform(some_texts)

In [31]:
type(mx_tf)

scipy.sparse.csr.csr_matrix

In [32]:
sdf = pd.DataFrame.sparse.from_spmatrix(mx_tf)
sdf

,0,1,2,3,4,5,6,7
0,0.000000,0.547832,0.000000,0.720333,0.000000,0.000000,0.425441,0.000000
1,0.720333,0.547832,0.000000,0.000000,0.000000,0.000000,0.425441,0.000000
2,0.000000,0.000000,0.479528,0.000000,0.479528,0.479528,0.283217,0.479528

In [33]:
cosine_similarity(mx_tf)

array([[1.        , 0.48111972, 0.12049196],
       [0.48111972, 1.        , 0.12049196],
       [0.12049196, 0.12049196, 1.        ]])

In [34]:
new_entry = tfidf.transform([find_nearest_to])
pd.DataFrame.sparse.from_spmatrix(new_entry)

          0         1    2    3    4    5    6    7
0  0.795961  0.605349  0.0  0.0  0.0  0.0  0.0  0.0

In [35]:
cosine_semilarities = cosine_similarity(new_entry, mx_tf).flatten()
cosine_semilarities

array([0.33162938, 0.90498638, 0.        ])

In [36]:
df['cosine_semilarities'] = cosine_semilarities
df = df.sort_values(by=['cosine_semilarities'], ascending=[0])
df

                             texts  cosine_semilarities
1                  текст номер два             0.904986
0                 текст номер один             0.331629
2  текст следующий под номером три             0.000000

In [37]:
sdf

,0,1,2,3,4,5,6,7
0,0.000000,0.547832,0.000000,0.720333,0.000000,0.000000,0.425441,0.000000
1,0.720333,0.547832,0.000000,0.000000,0.000000,0.000000,0.425441,0.000000
2,0.000000,0.000000,0.479528,0.000000,0.479528,0.479528,0.283217,0.479528